button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#chat-header{
    position:fixed;
    font-size: 500%;
    width: 100%;
    top: none;
    left: none;
    padding: none;
    margin: none;
    display: flex;
    justify-content: space-between;
}

.back-btn::before{
    content:url(https://chat.teowei.lol/assets/back-button.webp);
}

.download-btn::before{
    content:url(https://chat.teowei.lol/assets/download-transcript.webp);
}

.report-btn::before{
    content:url(https://chat.teowei.lol/assets/chat-report.webp);
}

.controls-expd::before{
    content:url(https://chat.teowei.lol/assets/control-menu.webp);
}

.voice-dctn::before{
    content:url(https://chat.teowei.lol/assets/voice-dictation.webp);
}

.send-pmpt::before{
    content:url(https://chat.teowei.lol/assets/send-message.webp);
}

#user-text-box{
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    background-color: #dcdcdc;
    border-radius: 25px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    width: 95vw;
    display: flex;
    flex-direction: row;

}

textarea{
    background-color: transparent;
    height: 1.2em;
    width: 97.5%;
    color: #404040;
    border: none;
    padding: 1em;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    text-align: left;
}

#user-text-area{
    flex-grow: 1;
}

#text-box-controls{
    direction: rtl;
    white-space: nowrap;
}

.control-buttons{
    width: 75px;
    display: inline-block;
    grid-row: 1;
}

#chat-box-window{
    height: 89.75vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#first-message{
    margin-top: 10%;
}

.user-message{
    align-self: flex-end;
    margin-bottom: 5%;
    margin-right: 25px;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    width: 62.5%;
    font-size: 125%;
    background-color: #eeeeee;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 1px 12px #404040;
}

.assistant-message{
    align-self: flex-start;
    margin-bottom: 5%;
    margin-left: 25px;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    width: 62.5%;
    font-size: 125%;
    background-color: #eeeeee;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 1px 12px #404040;
}
